.net/CarProject/bin/Debug/net7.0/CarProject.deps.json
.net/CarProject/bin/Debug/net7.0/CarProject.dll
.net/CarProject/bin/Debug/net7.0/CarProject.exe
.net/CarProject/bin/Debug/net7.0/CarProject.pdb
.net/CarProject/bin/Debug/net7.0/CarProject.runtimeconfig.json
.net/CarProject/obj/CarProject.csproj.nuget.dgspec.json
.net/CarProject/obj/CarProject.csproj.nuget.g.props
.net/CarProject/obj/CarProject.csproj.nuget.g.targets
.net/CarProject/obj/project.assets.json
.net/CarProject/obj/project.nuget.cache
.net/CarProject/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
.net/CarProject/obj/Debug/net7.0/apphost.exe
.net/CarProject/obj/Debug/net7.0/CarProject.AssemblyInfo.cs
.net/CarProject/obj/Debug/net7.0/CarProject.AssemblyInfoInputs.cache
.net/CarProject/obj/Debug/net7.0/CarProject.assets.cache
.net/CarProject/obj/Debug/net7.0/CarProject.csproj.AssemblyReference.cache
.net/CarProject/obj/Debug/net7.0/CarProject.csproj.CoreCompileInputs.cache
.net/CarProject/obj/Debug/net7.0/CarProject.csproj.FileListAbsolute.txt
.net/CarProject/obj/Debug/net7.0/CarProject.dll
.net/CarProject/obj/Debug/net7.0/CarProject.GeneratedMSBuildEditorConfig.editorconfig
.net/CarProject/obj/Debug/net7.0/CarProject.genruntimeconfig.cache
.net/CarProject/obj/Debug/net7.0/CarProject.GlobalUsings.g.cs
.net/CarProject/obj/Debug/net7.0/CarProject.pdb
.net/CarProject/obj/Debug/net7.0/ref/CarProject.dll
.net/CarProject/obj/Debug/net7.0/refint/CarProject.dll
.net/helloworld/bin/Debug/net7.0/helloworld.deps.json
.net/helloworld/bin/Debug/net7.0/helloworld.dll
.net/helloworld/bin/Debug/net7.0/helloworld.exe
.net/helloworld/bin/Debug/net7.0/helloworld.pdb
.net/helloworld/bin/Debug/net7.0/helloworld.runtimeconfig.json
.net/helloworld/obj/helloworld.csproj.nuget.dgspec.json
.net/helloworld/obj/helloworld.csproj.nuget.g.props
.net/helloworld/obj/helloworld.csproj.nuget.g.targets
.net/helloworld/obj/project.assets.json
.net/helloworld/obj/project.nuget.cache
.net/helloworld/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
.net/helloworld/obj/Debug/net7.0/apphost.exe
.net/helloworld/obj/Debug/net7.0/helloworld.AssemblyInfo.cs
.net/helloworld/obj/Debug/net7.0/helloworld.AssemblyInfoInputs.cache
.net/helloworld/obj/Debug/net7.0/helloworld.assets.cache
.net/helloworld/obj/Debug/net7.0/helloworld.csproj.AssemblyReference.cache
.net/helloworld/obj/Debug/net7.0/helloworld.csproj.CoreCompileInputs.cache
.net/helloworld/obj/Debug/net7.0/helloworld.csproj.FileListAbsolute.txt
.net/helloworld/obj/Debug/net7.0/helloworld.dll
.net/helloworld/obj/Debug/net7.0/helloworld.GeneratedMSBuildEditorConfig.editorconfig
.net/helloworld/obj/Debug/net7.0/helloworld.genruntimeconfig.cache
.net/helloworld/obj/Debug/net7.0/helloworld.GlobalUsings.g.cs
.net/helloworld/obj/Debug/net7.0/helloworld.pdb
.net/helloworld/obj/Debug/net7.0/ref/helloworld.dll
.net/helloworld/obj/Debug/net7.0/refint/helloworld.dll
